<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Binomial option pricing model</title>
    <link rel="stylesheet" type = "text/css" href="machine.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,550&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="container">

      <div id="main">
        <h1 style="text-align: center">Binomial Pricing Method</h1>
        </div>
        <div id = "wrapper-of-wrapper">
          <div class="form-group" id="input">
            <form action="/" method="POST">

              <div class="input-block" id="input-block-p_0">
                <input type="float" name="p_0" value="{{option_p_0}}" class="form-control" id="p_0" required>
                <label for="p_0">Inital price at t=0</label>
              </div>

              <div class="input-block" id="input-block-n">
                <input type="number" name="n" value="{{option_n}}" class="form-control" id="n" required>
                <label for="n">Number of periods</label>
              </div>

              <div class="input-block" id="input-block-v">
                <input type="float" name="v" value="{{option_v}}" class="form-control" id="v" required>
                <label for="v">Implied volatility</label>
              </div>

              <div class="input-block" id="input-block-r">
                <input type="float" name="r" value="{{option_r}}" class="form-control" id="r" required>
                <label for="r">Interest rate</label>
              </div>

              <div class="input-block" id="input-block-s">
                <input type="float" name="s" value="{{option_s}}" class="form-control" id="s" required>
                <label for="s">Strike price</label><br>
              </div>

              <div class="dropdown-block" id="dropdown-block-country">
                <select type = "number" name="country" class="form-control" id="country" required>
                  <option disabled {% if option_country == undefined %}selected{% endif %}> Select an option </option>
                  <option value="US" {% if option_country == "US" %}selected{% endif %}>US</option>
                  <option value="EU" {% if option_country == "EU" %}selected{% endif %}>EU</option>
                </select>
                <label for="country" id="dropdown-block-label">Option type</label>
              </div>

              <div class="input-block" id="input-block-c">
                <input type="float" name="c" value="{{option_c}}" class="form-control" id="c" required>
                <label for="c">Dividend yield</label>
              </div>

              <div class="input-block" id="input-block-T">
                <input type="float" name="T" value="{{option_T}}" class="form-control" id="T" required>
                <label for="T">Time to maturity</label>
              </div>

              <div class="dropdown-block" id="input-block-cp">
                <select type = "number" name="cp" class="form-control" id="cp" required >
                  <option disabled {% if option_cp == undefined %}selected{% endif %} > Select an option </option>
                  <option value= 1 {% if option_cp == 1 %}selected{% endif %}>Call</option>
                  <option value= -1 {% if option_cp == -1 %}selected{% endif %}>Put</option>
                </select>
                <label for="cp" id="dropdown-block-label">Call or put</label>
              </div>

              <input type="submit" value="SUBMIT" required><br>

            </form>
          </div>

          <div id = "table-wrapper">
            <table class="content-table" id ="result_table">
              <thead>
                <tr>
                  {% for j in range(0,prices|length) %}
                    <th>{{ j }}</th>
                  {% endfor %}
                </tr>
              </thead>

              <tbody>
                {% for i in range(0,prices|length) %}
                <tr>
                  {% for j in range(0,prices|length) %}
                  <td>
                    <div class = "tooltip">{{ prices[i][j] }}
                      <span class = "tooltiptext">
                        <p>stock: {{ stocks[i][j] }}</p>
                        <p>cach: {{ cash[i][j] }}</p>
                      </span>
                    </div>
                  </td>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>


        </div>

      </div>

      <div id="footer">
        <p>Copyright &copy; Nhat Pham</p>
      </div>
    </div>

  </body>
</html>
